fastapi
uvicorn
httpx
python-dotenv
qdrant-client
sentence-transformers
tiktoken
langchain
langchain-openai
langchain-mistralai
spacy
scikit-learn
numpy
bs4
requests
tenacity
pydantic
PyPDF2
python-docx
pandas
python-pptx
lxml
